/* Write your CSS here */
.app-list-container {
  list-style-type: none;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  width: 200px;
  height: 210px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-logo {
  height: 10vh;
}
